
<ion-header>

  <ion-navbar>
    <ion-title>{{quoteCollection?.category | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card *ngFor="let quote of quoteCollection.quotes; let i = index"> 
  <ion-card-header>
    <h2>#{{i+1}}</h2>
  </ion-card-header>
  <ion-card-content>
    <p>{{quote.text}}</p>
    <p class="author">{{quote.person}}</p>
  </ion-card-content>
  <ion-row>
    <ion-col text-right>
      <button *ngIf="!isFavorite(quote)" ion-button clear small (click)="onAddToFavorite(quote)">Favorite</button>
      <button *ngIf="isFavorite(quote)" ion-button clear small color="danger" (click)="onRemoveFromFavorites(quote)">Unfavorite</button>
    </ion-col>
  </ion-row>
</ion-card>
</ion-content>
